<nav class="navbar navbar-expand-lg">
  <div class="navbar-div">
    <button class="toggle-button" (click)="onToggleClick()">
      {{ isSidebarOpen ? '𐌗' : '☰' }}
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <button class="nav-link" (click)="goHome()">Home</button>
        <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
      </ul>
    </div>
    <span class="divider">|</span>
    <div>
      <button class="nav-link" *ngIf="!this.isLoggedIn" (click)="login()">Login</button>
      <button class="nav-link" *ngIf="this.isLoggedIn" (click)="logout()">Logout</button>
    </div>
    <div>
      <button id="nav-link-register" *ngIf="!this.isLoggedIn" (click)="register()">Get Started</button>
    </div>
  </div>
</nav>
