<div class="editor-div">
  <div class="canvas-wrapper">
    <canvas #canvas [hidden]="!imageSrc" (click)="onCanvasClick($event)"
            (mousemove)="onCanvasMouseMove($event)"></canvas>
  </div>
  <div class="buttons" [hidden]="!imageSrc">
    <div class="editor-buttons" [hidden]="currentMode !== null">
      <div class="error-text">
        Please select and editing mode!
      </div>
    </div>
    <div class="editor-buttons" [hidden]="currentMode !== 'outpaint'">
      <div class="horiz-buttons">
        <button class="edit-button" (click)="onOutpaint()" >Outpaint</button>
      </div>
    </div>
    <div class="editor-buttons" [hidden]="currentMode !== 'inpaint'">
      <div class="horiz-buttons">
        <button class="edit-button" [disabled]="!hasSelection" (click)="onInpaint()">Inpaint</button>
      </div>
      <div class="error-text" *ngIf="!hasSelection">
        Please select an area to inpaint!
      </div>
    </div>
    <div class="editor-buttons" [hidden]="currentMode !== 'blend'">
      <div class="horiz-buttons">
        <button class="edit-button" [disabled]="!hasSelection" (click)="onBlend()"> Blend</button>
        <button class="edit-button" (click)="secondaryInput.click()">Upload secondary image</button>
        <input #secondaryInput type="file" accept="image/*" (change)="onSecondaryImageSelected($event)" hidden>
      </div>
      <div class="error-text" *ngIf="!secondarySrc">
        Please select a secondary image to blend with!
      </div>
      <div class="error-text" *ngIf="!hasSelection && secondarySrc">
        Please select an area to blend!
      </div>
    </div>
  </div>
</div>
