.container {
  text-align: center;
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 100%;
  gap: 3vh;
}

.editing_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(200, 200, 200, 0.3);
  padding: 1%;
  flex: 2;
  height: fit-content;
  max-height: fit-content;
}

.canvas{
  width: 100%;
  height: 100%;
  border: 2px dotted gray;
  background-color: rgba(200, 200, 200, 0.3);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex: 9
}

.image-container {
  display: inline-block;
  max-width: 100%;
}

.standard-resolutions{
  display: grid;
  columns: 3;
  grid-column-gap: 1vh;
  grid-row-gap: 1vh;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1vh;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
