:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;  /* Fill parent */
  width: 90%;
  background-color: rgba(0, 0, 255, 0.05); /* Light blue background */

}

.login-div{
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;    /* Stack form fields vertically */
  justify-content: center;   /* Vertical center */
  align-items: center;
  background-color: rgba(0, 0, 255, 0.05); /* Light blue background */

}
